extends layout

block scripts
  script.
    var title = "#{title}";
    var lines = [
      '[[[強調表示]]]',
      'testtest',
      '[[http://shokai.org https://i.gyazo.com/0fd0401ce5fdc78725a9076eb630ad66.png]]',
      '[[http://shokai.org/blog blog]]',
      '[[ラーメン]]'
    ];
  script(src="/js/bundle.js")

block content
  div#app-container
